body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#game-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#game-container svg {
  width: 100vw;
  height: 100vh;
  display: block;
}

#ui-container {
  opacity: 0.5;
  position: fixed;
  padding: 0.25rem 2rem;
  background-color: #fff;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
  z-index: 1000;
}

#ui-container p {
}
