body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#game-container {
}

#ui-container {
  position: fixed;
  padding: 0.25rem 2rem;
  background-color: #fff;

  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}

#ui-container p {
}
